In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [2]:
csv_data = pd.read_csv('train.csv', header = None)
csv_data.head()

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1,1,60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,2,20,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,3,60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,4,70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000

In [3]:
print("Data dims : ",csv_data.shape) #shape gives row x column

Data dims :  (1461, 81)

In [4]:
print(csv_data.dtypes) #dtypes give data type

0     object
1     object
2     object
3     object
4     object
       ...
76    object
77    object
78    object
79    object
80    object
Length: 81, dtype: object

In [5]:
print(csv_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 81 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1461 non-null   object
 1   1       1461 non-null   object
 2   2       1461 non-null   object
 3   3       1202 non-null   object
 4   4       1461 non-null   object
 5   5       1461 non-null   object
 6   6       92 non-null     object
 7   7       1461 non-null   object
 8   8       1461 non-null   object
 9   9       1461 non-null   object
 10  10      1461 non-null   object
 11  11      1461 non-null   object
 12  12      1461 non-null   object
 13  13      1461 non-null   object
 14  14      1461 non-null   object
 15  15      1461 non-null   object
 16  16      1461 non-null   object
 17  17      1461 non-null   object
 18  18      1461 non-null   object
 19  19      1461 non-null   object
 20  20      1461 non-null   object
 21  21      1461 non-null   object
 22  22      1461 non-null   object
 23  23      1461 non-null   object
 24  24      1461 non-null   object
 25  25      1453 non-null   object
 26  26      1453 non-null   object
 27  27      1461 non-null   object
 28  28      1461 non-null   object
 29  29      1461 non-null   object
 30  30      1424 non-null   object
 31  31      1424 non-null   object
 32  32      1423 non-null   object
 33  33      1424 non-null   object
 34  34      1461 non-null   object
 35  35      1423 non-null   object
 36  36      1461 non-null   object
 37  37      1461 non-null   object
 38  38      1461 non-null   object
 39  39      1461 non-null   object
 40  40      1461 non-null   object
 41  41      1461 non-null   object
 42  42      1460 non-null   object
 43  43      1461 non-null   object
 44  44      1461 non-null   object
 45  45      1461 non-null   object
 46  46      1461 non-null   object
 47  47      1461 non-null   object
 48  48      1461 non-null   object
 49  49      1461 non-null   object
 50  50      1461 non-null   object
 51  51      1461 non-null   object
 52  52      1461 non-null   object
 53  53      1461 non-null   object
 54  54      1461 non-null   object
 55  55      1461 non-null   object
 56  56      1461 non-null   object
 57  57      771 non-null    object
 58  58      1380 non-null   object
 59  59      1380 non-null   object
 60  60      1380 non-null   object
 61  61      1461 non-null   object
 62  62      1461 non-null   object
 63  63      1380 non-null   object
 64  64      1380 non-null   object
 65  65      1461 non-null   object
 66  66      1461 non-null   object
 67  67      1461 non-null   object
 68  68      1461 non-null   object
 69  69      1461 non-null   object
 70  70      1461 non-null   object
 71  71      1461 non-null   object
 72  72      8 non-null      object
 73  73      282 non-null    object
 74  74      55 non-null     object
 75  75      1461 non-null   object
 76  76      1461 non-null   object
 77  77      1461 non-null   object
 78  78      1461 non-null   object
 79  79      1461 non-null   object
 80  80      1461 non-null   object
dtypes: object(81)
memory usage: 924.7+ KB
None

In [6]:
print(csv_data.describe())

          0     1     2     3     4     5     6     7     8       9   ...  \
count   1461  1461  1461  1202  1461  1461    92  1461  1461    1461  ...
unique  1461    16     6   111  1074     3     3     5     5       3  ...
top       Id    20    RL    60  7200  Pave  Grvl   Reg   Lvl  AllPub  ...
freq       1   536  1151   143    25  1454    50   925  1311    1459  ...

          71  72     73    74    75    76    77    78      79      80
count   1461   8    282    55  1461  1461  1461  1461    1461    1461
unique     9   4      5     5    22    13     6    10       7     664
top        0  Gd  MnPrv  Shed     0     6  2009    WD  Normal  140000
freq    1453   3    157    49  1408   253   338  1267    1198      20

[4 rows x 81 columns]

In [7]:
html_data = pd.read_html('https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table')

In [8]:
print(len(html_data)) #number of tables in this page

7

In [18]:
print(html_data[2])

                   Rank                   NOC  Gold  Silver  Bronze  Total
0                     1         United States    46      37      38    121
1                     2         Great Britain    27      23      17     67
2                     3                 China    26      18      26     70
3                     4                Russia    19      17      20     56
4                     5               Germany    17      10      15     42
..                  ...                   ...   ...     ...     ...    ...
82                   78               Nigeria     0       0       1      1
83                   78              Portugal     0       0       1      1
84                   78   Trinidad and Tobago     0       0       1      1
85                   78  United Arab Emirates     0       0       1      1
86  Totals (86 entries)   Totals (86 entries)   306     307     359    972

[87 rows x 6 columns]

In [20]:
SO2016 = html_data[2]
print(SO2016)

                   Rank                   NOC  Gold  Silver  Bronze  Total
0                     1         United States    46      37      38    121
1                     2         Great Britain    27      23      17     67
2                     3                 China    26      18      26     70
3                     4                Russia    19      17      20     56
4                     5               Germany    17      10      15     42
..                  ...                   ...   ...     ...     ...    ...
82                   78               Nigeria     0       0       1      1
83                   78              Portugal     0       0       1      1
84                   78   Trinidad and Tobago     0       0       1      1
85                   78  United Arab Emirates     0       0       1      1
86  Totals (86 entries)   Totals (86 entries)   306     307     359    972

[87 rows x 6 columns]

In [21]:
top20 = html_data[2].head(n=20)
print(top20)

   Rank            NOC  Gold  Silver  Bronze  Total
0     1  United States    46      37      38    121
1     2  Great Britain    27      23      17     67
2     3          China    26      18      26     70
3     4         Russia    19      17      20     56
4     5        Germany    17      10      15     42
5     6          Japan    12       8      21     41
6     7         France    10      18      14     42
7     8    South Korea     9       3       9     21
8     9          Italy     8      12       8     28
9    10      Australia     8      11      10     29
10   11    Netherlands     8       7       4     19
11   12        Hungary     8       3       4     15
12   13        Brazil*     7       6       6     19
13   14          Spain     7       4       6     17
14   15          Kenya     6       6       1     13
15   16        Jamaica     6       3       2     11
16   17        Croatia     5       3       2     10
17   18           Cuba     5       2       4     11
18   19    New Zealand     4       9       5     18
19   20         Canada     4       3      15     22